<a href="/artists/new"><input type="button" value="New Artist"></a>

<% @artists.each do |artist| %>
  <h2><a href="artists/<%= artist.id %>"><%= artist.name %></a></h2>
  <p> <%= artist.age %> </p>
  <p> <%= artist.bio %> </p>
<% end %>
