<form action="/artists" method="post">
  <label for="name">Artist name:</label>
  <input id="artist-name" type="text" name="name" placeholder="Erykah Badu">

  <br>
  <label for="age">Age:</label>
  <input id="artist-age" type="number" name="age" placeholder="48">

  <br>
  <label for="bio">Bio:</label>
  <input id="artist-bio" type="text" name="bio" placeholder="Something about the artist...">

  <br>
  <input type="submit">
  <br>
  <a href="/artists"><input type="button" value="Home"></a>
</form>
